.CompletionChart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--bg-card);
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--border-main);
  justify-content: space-between;
}

p {
  margin-bottom: 0 !important;
}


.select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-main);
  outline: none;
  color: #000000;
  width: 125px;
  gap: 8px;
}
