.cards {
  display: flex;
  flex-grow: 1;
  flex: 1;
  min-width: 200px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-card);
  margin-right: 16px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--border-main);
}
