.theadDesign {
  background-color: var(--bg-main);
  padding: 10px 10px;
  border-radius: 8px;
  color: var(--text-secondary);
}

.row {
  display: grid;
  grid-template-columns:
    40px
    2.5fr
    1.25fr
    1.25fr
    1.25fr
    0.75fr
    0.75fr
    0.75fr
    120px;

  align-items: center;
  padding: 16px 12px;
}
