.tasksTableWrapper {
  display: flex;
  background-color: var(--bg-card);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-main);
  min-width: 200px;
  align-items: center;
 
 
 
  /* flex-grow: 1;
  flex: 1;
  justify-content: space-between;
  margin-right: 16px;


  */
}


