.dashboard {
  display: flex;
}


.statsRow {
  display: grid;

  grid-template-columns:
    repeat(4, 1fr)
    1.5fr;

  gap: 16px;

  align-items: stretch;
}


/* چارت */
.chartWrapper {
  flex: 1; /* مهم */
}

