.button {
  border-radius: 8px;
  font-weight: 600;
  padding: 6px 12px;
}

.disableStyle {
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-main);
  color: var(--primary-white);
  font-weight: 500;
  font-size: 12px;
}

/*******************Warning Button*******************/

.dangerBtn {
  background-color: var(--warning-bg);
  border: 1px solid var(--border-warning);
  border-radius: 8px;
  color: var(--danger);
  padding: 6px 12px;
}

.dangerBtn:hover {
  color: white;
  background-color: var(--danger-hover);
  transition: all 0.3s ease;
}

/*******************Action Button*******************/

.iconActionBtn {
  background-color: transparent;
  border: none;
}

.iconActionBtn:hover {
  background-color: transparent;
  transform: scale(1.1);
}

/*********************************Buttons*****************************/

/************Submit************/

.SubmitBtn {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--primary-white);
}

.SubmitBtn:hover {
  background-color: var(--success);
  border: 1px solid var(--border-main);
  transition: all 0.3s ease;
  color: var(--primary-white);
}

/************Cancel************/
.CancelBtn {
  background-color: var(--primary-white);
  margin-right: 8px;
  border: 1px solid var(--border-main);
  color: var(--text-secondary);
}

.CancelBtn:hover {
  background-color: var(--danger-light);
  border: 1px solid var(--border-warning);
  transition: all 0.3s ease;
  color: var(--danger-hover);
}

/************Success************/

.successBtn {
  background-color: var(--success);
  border: 1px solid var(--border-main);
  color: var(--primary-white);
  font-weight: 500;
  font-size: 12px;
}

/************Action Transparent Button************/

.transparentActionBtn {
  margin-right: 8px;
  font-weight: 500;
  background-color: var(--primary-white);
  border: 1px solid var(--border-main);
  padding: 6px 12px;
  color: var(--text-secondary);
}
