.button {
  border-radius: 8px;
  font-weight: 600;
}

/*******************Warning Button*******************/

.dangerBtn {
  background-color: var(--warning-bg);
  border: 1px solid var(--border-warning);
  border-radius: 8px;
  color: var(--danger);
  padding: 6px 12px;
}

.dangerBtn:hover {
  color: white;
  background-color: var(--danger-hover);
  transition: all 0.3s ease;
}

/*******************Action Button*******************/

.iconActionBtn {
  background-color: transparent;
  border: none;
  margin: 0 8px 0 0;
}

.iconActionBtn:hover {
  background-color: transparent;
  transform: scale(1.1);
  margin: 0 8px 0 0;
}

/*******************Header Action Button*******************/

.headerActionBtn {
  background-color: var(--primary);
  font-weight: 500;
  border: 1px solid transparent;
  color: var(--primary-white);
  padding: 6px 12px;
}

/*************************Submit/Cancel Buttons********************/

.submitBtn {
  background-color: var(--primary);
  font-weight: 500;
  border: 1px solid transparent;
  color: var(--primary-white);
  padding: 6px 12px;
}

.cancelBtn {
  background-color: var(--primary-white);
  margin-right: 8px;
  font-weight: 500;
  border: 1px solid var(--border-main);
  color: var(--text-secondary);
  padding: 6px 12px;
}
