.button {
  border-radius: 8px;
  font-weight: 600;
}

/*******************Warning Button*******************/

.dangerBtn {
  background-color: var(--warning-bg);
  border: 1px solid var(--border-warning);
  border-radius: 8px;
  color: var(--danger);
  padding: 6px 12px;
  font-weight: 600;
}

.dangerBtn:hover {
  color: white;
  background-color: var(--danger-hover);
  transition: all 0.3s ease;
}

/*******************Action Button*******************/

.iconActionBtn {
  background-color: transparent;
  border: none;
  margin: 0 8px 0 0;
}

.iconActionBtn:hover {
  background-color: transparent;
  transform: scale(1.1);
  margin: 0 8px 0 0;
}
